
body {
  background-image: url('./img/WoodPlanks-1700.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  min-height: 100vh;  
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
    
h1 {
  color: #333;
  text-align: center;
  font-size: 3.2em;
  line-height: 1.1;
}
.form{
  font-size: 16px;
  line-height: 1.5;
  color: #dde7eb;
  max-width: 600px;
  margin: 0 auto;
  padding: 50px;
  text-align: justify;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  border-radius: 28px;
  border: 2px solid hsl(134, 18%, 86%);
  padding: 0.6em 1.2em;
  text-align: center;
  display: inline-block;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #d4c2c2;
  cursor: pointer;
  transition: border-color 0.25s;
  -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    margin-bottom: 20px;
}
button:hover {
  border-color: #d5d5db;
  
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
 
}
.button-container {
  margin-bottom: 30px;
}